.drawer-container {
  position: absolute;
  z-index: 401;
  right: 76px;
}
div .ant-drawer-content-wrapper {
  width: 25vw !important;
}

/* WithoutProjects */

.box {
  padding: 10px;
  background: white;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15);
  flex-direction: column;
  margin-top: 15px;
}
strong {
  cursor: pointer;
}
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background: #a6b068;
}
.ant-btn-primary {
  margin-top: 8px;
  background: #A7BD0D;
  border-color: #A7BD0D;
}

.description-title {
  font-size: 13px;
  color: #b4b98f;
  cursor: pointer;
}
.description-content {
  font-size: 12px;
  color: rgb(153, 153, 161);
  text-align: center;
}

/* WithProjects */

@media (min-width: 768px) {
  .sites-input {
    display: flex;
    flex-direction: row;
  }
  .sites-input input {
    margin-right: 5px;
  }
  .sites-input button {
    margin-top: 5px;
    width: 100%;
  }
}
.sites-input button {
  width: 100%;
}
.sites-input input {
  height: 40px;
}
.close {
  color: red;
  float: right;
}
.ant-select-selection-selected-value .close {
  display: none
}

